html, body, #root {
  background-color: lightgray;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

#sidebar {
  flex-grow: .3;
}

#other-side {
  display: flex;
  flex-grow: .7;
  flex-direction: column;
  height: 100%;
}

.section {
  border: 5px solid black;
}

#main > * {
  height: 100%;
}

#new-message {
  flex-grow: 0.1;
}

#messages {
  flex-grow: 0.9;
}