body {
  display: flex;
  background-color: lightgray;
}

#root {
  flex-grow: 1;
  display: flex;
}

#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

#sidebar {
  flex-grow: .3;
}

#other-side {
  flex-grow: .7;
}

.section {
  border: 5px solid black;
}

#main > * {
  height: 100%;
}