html, body, #root {
  background-color: lightgray;
  height: 100vh;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  margin: 0;
}

#sidebar {
  flex-grow: .3;
}

#other-side {
  display: flex;
  flex-grow: .7;
  flex-direction: column;
}

.section {
  border: 3px solid gray;
  margin: 0;
}

#new-message {
  flex-grow: 0.1;
}

#messages {
  flex-grow: 0.9;
}